:host{

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.component-wrapper{

    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
}

.project-title{

    background-color: #c1c8c7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;

    height: 70px;

    h1 {
        color: white;
        padding: 0;
        margin: 0;
    }
}

.project-description{

    display: flex;
    height: 200px;

    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 2px;
    border-color: #c1c8c7;
}

.scrollable-container{

    width: 100%;
    height: 400px;
    position: relative;
    overflow-y: scroll;
}

.main-container{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.row-legend{

    width: 100%;
    height: 100px;
    display: flex;

    .column-placeholder {

        width: 100px;
        height: 100%;

    }

    .column-name{

        display: flex;
        flex: 10;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0;

        background-color: #c1c8c7;

        h3 {
            color: white;
            margin: 0;
            padding: 0;
        }

    }

}

.row-container{

    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: row;

}

.cell-container{

    flex: 10;
    display: flex;

}

.chart-container{

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.row-title{

    height: 100%;
    width: 100px;
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;

    h3 {
        transform: rotate(270deg);
        color: white;
    }

    background-color: #c1c8c7;
}
